import { {{pascalCase name}}Props } from './{{pascalCase name}}.interfaces' 
import styles from './{{pascalCase name}}.module.css'

function {{pascalCase name}} ({ ...props }:{{pascalCase name}}Props) { 
    return (
        <h1 className={ styles. {{pascalCase name}} }>{{pascalCase name}}</h1>
    )
} 

export default {{pascalCase name}}